/* Trial 1*/
/*<head>
    <style>*/
    {
       box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    /*</style>
</head>*/




/* Trial 2

.column {
    float: left;
    width: 50.00%;
    padding: 5px;
  }
  

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  */